---
import Base from "../../layouts/Base.astro";
---

<Base title="Contact Success | Michael Esteban">
  <main>
    <p class="mb-4">Thank you for your message! I will try to respond soon.</p>
    <a href="/" class="text-blue-500 hover:text-blue-600"><- Back to home</a>
  </main>
</Base>
