---
import Base from "../layouts/Base.astro";
---

<Base title="Contact | Michael Esteban">
  <main>
    <form
      name="contact"
      action="/contact/success"
      method="POST"
      data-netlify="true"
      class="space-y-4"
    >
      <h1 class="text-2xl">Contact Michael</h1>
      <div>
        <label for="name" class="block text-sm font-medium text-gray-700 mb-1">
          Name (if you want me to know who you are):
        </label>
        <input
          type="text"
          id="name"
          name="name"
          class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
        />
      </div>

      <div>
        <label for="email" class="block text-sm font-medium text-gray-700 mb-1">
          Email (if you want me to get directly back to you):
        </label>
        <input
          type="email"
          id="email"
          name="email"
          class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
        />
      </div>

      <div>
        <label
          for="message"
          class="block text-sm font-medium text-gray-700 mb-1"
        >
          Message (required):
        </label>
        <textarea
          id="message"
          name="message"
          required
          class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
          rows="3"></textarea>
      </div>

      <div>
        <button
          type="submit"
          class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 ease-in-out"
        >
          Send
        </button>
      </div>
    </form>
  </main>
</Base>
