---
import Base from "../layouts/Base.astro";
import FeaturedPosts from "../components/FeaturedPosts.astro";
import FeaturedProjects from "../components/FeaturedProjects.astro";
import Contact from "../components/Contact.astro";
---

<Base title="Michael Esteban">
  <h1 class="text-xl mb-6">
    Hi! I'm Michael Esteban, a software engineer from Brisbane, Australia.
  </h1>

  <h2 class="text-xl inline-block mb-4">Featured Posts</h2>

  <FeaturedPosts />

  <h2 class="text-xl inline-block my-6">Featured Projects</h2>

  <FeaturedProjects />

  <h2 class="text-xl inline-block my-6">Contact me</h2>

  <Contact />
</Base>

<script type="module">
  import { annotate } from "https://unpkg.com/rough-notation?module";

  const headings = document.querySelectorAll("h2");
  headings.forEach((item) => {
    const annotation = annotate(item, {
      type: "highlight",
      animate: false,
      color: "#ffd54f",
    });
    annotation.show();
  });
</script>
