---
import Base from "../layouts/Base.astro";
import AllPosts from "../components/ListAllPosts.astro";
---

<Base title="Posts | Michael Esteban">
  <main class="mt-4">
    <h1 class="text-xl mb-2 border-b-[3px] border-b-[gold] inline-block">
      All posts
    </h1>
    <p class="mb-4 font-light">Things that I have written about.</p>
    <AllPosts />

    <h1 class="text-xl mt-6 mb-2 border-b-[3px] border-b-[gold] inline-block">
      Published works
    </h1>
    <p class="mb-4 font-light">
      Things that I have contributed to, thanks to my colleagues.
    </p>

    <div class="mb-2">
      <a
        class="text-blue-500 hover:text-blue-600"
        href="https://dl.acm.org/doi/pdf/10.1145/3532106.3533497"
      >
        Networked Gardens: Remediating Local Nature Data Through the Internet of
        Things
      </a>
      <p class="text-gray-500">K Vella, M Esteban, B Ploderer, M Brereton</p>
      <p class="text-gray-500">
        Designing Interactive Systems Conference, 1597-1611
      </p>
    </div>

    <div class="mb-2 mt-2">
      <a
        class="text-blue-500 hover:text-blue-600"
        href="https://dl.acm.org/doi/abs/10.1145/3373625.3417025"
      >
        The TalkingBox. Revealing Strengths of Adults with Severe Cognitive
        Disabilities
      </a>
      <p class="text-gray-500">
        F Bircanin, L Sitbon, B Ploderer, A Azaabanye Bayor, M Esteban, S
        Koplick, M Brereton
      </p>
      <p class="text-gray-500">
        Proceedings of the 22nd International ACM SIGACCESS Conference on
        Computers and Accessibility
      </p>
    </div>

    <div class="mb-2 mt-2">
      <a
        class="text-blue-500 hover:text-blue-600"
        href="https://dl.acm.org/doi/pdf/10.1145/3334480.3383031"
      >
        Crocodile language friend: Tangibles to foster children's language use
      </a>
      <p class="text-gray-500">
        JL Taylor, WW Aboriginal Shire Council, A Soro, M Esteban, A Vallino, P
        Roe, M Brereton
      </p>
      <p class="text-gray-500">
        Extended Abstracts of the 2020 CHI Conference on Human Factors in
        Computing Systems
      </p>
    </div>

    <div>
      <a
        class="text-blue-500 hover:text-blue-600"
        href="https://dl.acm.org/doi/pdf/10.1145/3334480.3382992"
      >
        Coding on Country
      </a>
      <p class="text-gray-500">
        A Soro, WW Aboriginal Shire Council, JL Taylor, M Esteban, M Brereton
      </p>
      <p class="text-gray-500">
        Extended Abstracts of the 2020 CHI Conference on Human Factors in
        Computing Systems
      </p>
    </div>

    <div class="mb-2 mt-2">
      <a
        class="text-blue-500 hover:text-blue-600"
        href="https://dl.acm.org/doi/pdf/10.1145/3313831.3376713"
      >
        Designing in the network of relations for species conservation: The
        playful Tingtibi community birdhouse
      </a>
      <p class="text-gray-500">
        T Dema, M Brereton, M Esteban, A Soro, S Sherub, P Roe
      </p>
      <p class="text-gray-500">
        Proceedings of the 2020 CHI Conference on Human Factors in Computing
        Systems
      </p>
    </div>
  </main>
</Base>
