---
import Base from "../layouts/Base.astro";
import ListProjects from "../components/ListProjects.astro";

const years = [2024, 2023, 2022, 2021, 2020, 2019, 2018];

const projectsData = await Promise.all(
  years.map(async (year) => ({
    year,
    projects: (await import(`../projects/${year}.json`)).default,
  }))
);
---

<Base title="Projects | Michael Esteban">
  <main>
    <h1 class="text-xl mt-4 mb-2">All projects</h1>
    <p class="font-light">
      Serious, and not-so-serious, side projects and ideas that I have worked
      on. Not all are complete but they should be functional. Almost all are
      open source.
    </p>

    {
      projectsData.map(({ year, projects }) => (
        <>
          <h2 class="text-lg mt-4 mb-2 inline-block border-b-[3px] border-b-[gold]">
            {year}
          </h2>
          <ListProjects projects={projects} />
        </>
      ))
    }
  </main>
</Base>
