<div class="relative w-full h-16 overflow-visible">
  {/* Main wire */}
  <div
    class="absolute inset-x-0 top-0 h-[3px] bg-gradient-to-b from-emerald-800 to-emerald-900 rounded-full shadow-sm"
  >
  </div>

  {/* Bulbs container */}
  <div class="relative flex items-start justify-between px-4">
    {/* Red bulb */}
    <div class="relative flex flex-col items-center">
      <div class="w-[2px] h-3 bg-emerald-900"></div>
      <div class="w-2 h-2 bg-emerald-900 rounded-sm"></div>
      <div
        class="w-4 h-6 rounded-full bg-gradient-to-b from-red-400 to-red-600"
      >
      </div>
    </div>

    {/* Yellow bulb */}
    <div class="relative flex flex-col items-center">
      <div class="w-[2px] h-3 bg-emerald-900"></div>
      <div class="w-2 h-2 bg-emerald-900 rounded-sm"></div>
      <div
        class="w-4 h-6 rounded-full bg-gradient-to-b from-yellow-300 to-yellow-500"
      >
      </div>
    </div>

    {/* Green bulb */}
    <div class="relative flex flex-col items-center">
      <div class="w-[2px] h-3 bg-emerald-900"></div>
      <div class="w-2 h-2 bg-emerald-900 rounded-sm"></div>
      <div
        class="w-4 h-6 rounded-full bg-gradient-to-b from-emerald-400 to-emerald-600"
      >
      </div>
    </div>

    {/* Blue bulb */}
    <div class="relative flex flex-col items-center">
      <div class="w-[2px] h-3 bg-emerald-900"></div>
      <div class="w-2 h-2 bg-emerald-900 rounded-sm"></div>
      <div
        class="w-4 h-6 rounded-full bg-gradient-to-b from-sky-400 to-sky-600"
      >
      </div>
    </div>

    {/* Pink bulb */}
    <div class="relative flex flex-col items-center">
      <div class="w-[2px] h-3 bg-emerald-900"></div>
      <div class="w-2 h-2 bg-emerald-900 rounded-sm"></div>
      <div
        class="w-4 h-6 rounded-full bg-gradient-to-b from-pink-400 to-pink-600"
      >
      </div>
    </div>

    {/* Red bulb */}
    <div class="relative flex flex-col items-center">
      <div class="w-[2px] h-3 bg-emerald-900"></div>
      <div class="w-2 h-2 bg-emerald-900 rounded-sm"></div>
      <div
        class="w-4 h-6 rounded-full bg-gradient-to-b from-red-400 to-red-600"
      >
      </div>
    </div>

    {/* Yellow bulb */}
    <div class="relative flex flex-col items-center">
      <div class="w-[2px] h-3 bg-emerald-900"></div>
      <div class="w-2 h-2 bg-emerald-900 rounded-sm"></div>
      <div
        class="w-4 h-6 rounded-full bg-gradient-to-b from-yellow-300 to-yellow-500"
      >
      </div>
    </div>

    {/* Green bulb */}
    <div class="relative flex flex-col items-center">
      <div class="w-[2px] h-3 bg-emerald-900"></div>
      <div class="w-2 h-2 bg-emerald-900 rounded-sm"></div>
      <div
        class="w-4 h-6 rounded-full bg-gradient-to-b from-emerald-400 to-emerald-600"
      >
      </div>
    </div>

    {/* Blue bulb */}
    <div class="relative flex flex-col items-center">
      <div class="w-[2px] h-3 bg-emerald-900"></div>
      <div class="w-2 h-2 bg-emerald-900 rounded-sm"></div>
      <div
        class="w-4 h-6 rounded-full bg-gradient-to-b from-sky-400 to-sky-600"
      >
      </div>
    </div>

    {/* Pink bulb */}
    <div class="relative flex flex-col items-center">
      <div class="w-[2px] h-3 bg-emerald-900"></div>
      <div class="w-2 h-2 bg-emerald-900 rounded-sm"></div>
      <div
        class="w-4 h-6 rounded-full bg-gradient-to-b from-pink-400 to-pink-600"
      >
      </div>
    </div>
  </div>
</div>
