<section>
  <p>
    You can find me on <a
      href="https://twitter.com/mikeesto"
      class="text-blue-500 hover:text-blue-600">Twitter (X)</a
    >, <a
      href="https://mastodon.online/@mikeesto"
      class="text-blue-500 hover:text-blue-600">Mastodon</a
    >, and <a
      href="https://github.com/mikeesto"
      class="text-blue-500 hover:text-blue-600">GitHub</a
    >. You can email me at hi.mikeesto @ gmail.com
  </p>
</section>
