<section>
  <p>
    I lurk on <a
      href="https://twitter.com/mikeesto"
      class="text-blue-500 hover:text-blue-600">Twitter (X)</a
    > and <a
      href="https://mastodon.online/@mikeesto"
      class="text-blue-500 hover:text-blue-600">Mastodon</a
    >. You can email me at hi.mikeesto @ gmail.com.
  </p>
</section>
