---
import { getCollection } from "astro:content";
import { filterPosts } from "../utils/filterPosts";

const posts = await getCollection("posts");
const filteredPosts = filterPosts(posts);

// Only show 5 posts
const latestPosts = filteredPosts.splice(0, 5);
---

<div>
  <ul>
    {
      latestPosts.map((post) => (
        <li class="flex justify-between mb-2 md:flex-row flex-col">
          <a
            class="text-blue-500 hover:text-blue-600"
            href={`/posts/${post.slug}`}
          >
            {post.data.title}
          </a>
          <span class="text-gray-500">{post.data.formattedDate}</span>
        </li>
      ))
    }
  </ul>
  <a
    href="/posts"
    class="mt-1 inline-flex items-center gap-2 px-4 py-2.5 rounded-lg bg-gray-50 hover:bg-gray-100 border border-gray-300 hover:border-gray-400 transition-all duration-200 group"
  >
    <span class="text-gray-700 font-medium">All posts</span>
    <span
      class="transition-transform duration-200 transform group-hover:translate-x-1 text-gray-500"
      aria-hidden="true"
    >
      →
    </span>
  </a>
</div>
