---
import { readdirSync, readFileSync } from "fs";
import matter from "gray-matter";
import { compareDesc, parse, format } from "date-fns";
import yaml from "js-yaml";

const posts = [];
const files = readdirSync("src/pages/posts");

for (const file of files) {
  const data = readFileSync(`src/pages/posts/${file}`, "utf8");
  const frontmatter = matter(data, {
    engines: {
      yaml: (s) => yaml.load(s, { schema: yaml.JSON_SCHEMA }),
    },
  });

  // Exclude drafts
  if (frontmatter.data.draft) {
    continue;
  }

  // Parse frontmatter
  const slug = file.split(".")[0];
  const parsedDate = parse(frontmatter.data.date, "dd-MM-yyyy", new Date());
  const formattedDate = format(parsedDate, "do MMMM, yyyy");

  posts.push({ ...frontmatter.data, slug, formattedDate });
}

posts.sort((post1, post2) =>
  compareDesc(
    parse(post1.date, "dd-MM-yyyy", new Date()),
    parse(post2.date, "dd-MM-yyyy", new Date())
  )
);

// Only show 3 posts
const latestPosts = posts.splice(0, 3);
---

<div>
  <ul>
    {latestPosts.map((post) => (
      <li class="flex justify-between mb-2 md:flex-row flex-col">
        <a
          class="text-blue-500 hover:text-blue-600"
          href={`/posts/${post.slug}`}
        >
          {post.title}
        </a>
        <span class="text-gray-500">{post.formattedDate}</span>
      </li>
    ))}
  </ul>
  <a
    href="/posts"
    class="mt-2 inline-block border-black border-2 px-2 py-1 text-slate-700 group"
    >All posts <span
      class="transition-transform transform group-hover:translate-x-1 inline-block"
      >→</span
    ></a
  >
</div>
