---
import { getCollection } from "astro:content";
import { filterPosts } from "../utils/filterPosts";

const posts = await getCollection("posts");
const filteredPosts = filterPosts(posts);

// Only show 5 posts
const latestPosts = filteredPosts.splice(0, 5);
---

<div>
  <ul>
    {
      latestPosts.map((post) => (
        <li class="flex justify-between mb-2 md:flex-row flex-col">
          <a
            class="text-blue-500 hover:text-blue-600"
            href={`/posts/${post.slug}`}
          >
            {post.data.title}
          </a>
          <span class="text-gray-500">{post.data.formattedDate}</span>
        </li>
      ))
    }
  </ul>
  <a
    href="/posts"
    class="mt-2 inline-flex items-center border-black border-2 gap-2 px-4 py-2 rounded-md group"
  >
    <span class="text-blue-500 hover:text-blue-600">All posts</span>
    <span
      class="transition-transform duration-200 transform group-hover:translate-x-1"
      aria-hidden="true"
    >
      →
    </span>
  </a>
</div>
