---
import { getCollection } from "astro:content";
import {filterPosts} from '../utils/filterPosts'

const posts = await getCollection("posts");
const filteredPosts = filterPosts(posts)

// Only show 3 posts
const latestPosts = filteredPosts.splice(0, 4);
---

<div>
  <ul>
    {latestPosts.map((post) => (
      <li class="flex justify-between mb-2 md:flex-row flex-col">
        <a
          class="text-blue-500 hover:text-blue-600"
          href={`/posts/${post.slug}`}
        >
          {post.data.title}
        </a>
        <span class="text-gray-500">{post.data.formattedDate}</span>
      </li>
    ))}
  </ul>
  <a
    href="/posts"
    class="mt-2 inline-block border-black border-2 px-2 py-1 text-slate-700 group"
    >All posts <span
      class="transition-transform transform group-hover:translate-x-1 inline-block"
      >→</span
    ></a
  >
</div>
