<footer>
  <p>Thanks for visiting!</p>
  <a href="https://github.com/mikeesto/mikeesto.com" target="_blank"
    >view source</a
  >
</footer>

<style>
  footer {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    font-family: system-ui, sans-serif;
    color: var(--offwhite);
    padding-bottom: 20px;
  }

  a {
    display: inline-block;
    color: var(--post-link);
    text-decoration: none;
  }

  a:hover {
    border-bottom: 1px dotted var(--post-link);
  }
</style>
