<footer>
  <a href="https://github.com/mikeesto/mikeesto.com">mikeesto.com</a>
</footer>

<style>
  footer {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
  }

  a {
    color: var(--text-color);
  }
</style>
