---
import { getCollection } from "astro:content";
import {filterPosts} from '../utils/filterPosts'

const posts = await getCollection("posts");
const filteredPosts = filterPosts(posts)
---

<main>
  <ul>
    {filteredPosts.map((post) => (
      <li class="flex justify-between md:flex-row flex-col mb-2">
        <a
          class="text-blue-500 hover:text-blue-600"
          href={`/posts/${post.slug}`}
        >
          {post.data.title}
        </a>
        <span class="text-gray-500">{post.data.formattedDate}</span>
      </li>
    ))}

    <!-- Posts that live elsewhere -->
    <li class="flex justify-between mb-2 md:flex-row flex-col">
      <a
        class="text-blue-500 hover:text-blue-600"
        href="https://mikeesto.medium.com/pre-signed-urls-cors-on-cloudflare-r2-c90d43370dc4"
        >Pre-signed URLs & CORS on Cloudflare R2</a
      >
      <span class="text-gray-500">3rd October, 2022</span>
    </li>
    <li class="flex justify-between mb-2 md:flex-row flex-col">
      <a
        class="text-blue-500 hover:text-blue-600"
        href="https://dev.to/mikeesto/next-js-mdx-w-code-highlighting-16fi"
        >Next.js & MDX with code highlighting</a
      >
      <span class="text-gray-500">16th July, 2021</span>
    </li>
    <li class="flex justify-between mb-2 md:flex-row flex-col">
      <a
        class="text-blue-500 hover:text-blue-600"
        href="https://mikeesto.medium.com/uploading-to-the-raspberry-pi-pico-without-thonny-53de1a10da30"
        >Uploading files to the Raspberry Pi Pico without Thonny</a
      >
      <span class="text-gray-500">17th February, 2021</span>
    </li>
    <li class="flex justify-between mb-2 md:flex-row flex-col">
      <a
        class="text-blue-500 hover:text-blue-600"
        href="https://dev.to/mikeesto/top-level-await-in-node-2jad"
      >
        Create React App Turns Four</a
      >
      <span class="text-gray-500">29th October, 2020</span>
    </li>
    <li class="flex justify-between mb-2 md:flex-row flex-col">
      <a
        class="text-blue-500 hover:text-blue-600"
        href="https://dev.to/mikeesto/create-react-app-turns-four-3ace"
      >
        Top Level Await in Node</a
      >
      <span class="text-gray-500">15th August, 2020</span>
    </li>
    <li class="flex justify-between mb-2 md:flex-row flex-col">
      <a
        class="text-blue-500 hover:text-blue-600"
        href="https://dev.to/mikeesto/the-screen-wake-lock-api-51hp"
      >
        The Screen Wake Lock API</a
      >
      <span class="text-gray-500">23rd July, 2020</span>
    </li>
    <li class="flex justify-between mb-2 md:flex-row flex-col">
      <a
        class="text-blue-500 hover:text-blue-600"
        href="https://dev.to/mikeesto/incrementally-building-the-web-lc1"
      >
        Incrementally building the web</a
      >
      <span class="text-gray-500">10th July, 2020</span>
    </li>
  </ul>
</main>
