---
const { projects } = Astro.props;
---

{projects.map(({ title, description, url }) => (
  <div class="mb-2">
    <a class="text-blue-500 hover:text-blue-600" href={url}>
      {title}
    </a>
    <p class="text-gray-500">{description}</p>
  </div>
))}
