---
import Home from "./Home.astro";
---

<nav class="mt-2 mb-8">
  <ul class="flex gap-3">
    <li><a href="/"><Home /></a></li>
    <li class="ml-auto self-end"><a href="/about">About</a></li>
    <li class="self-end"><a href="/posts">Posts</a></li>
    <li class="self-end"><a href="/projects">Projects</a></li>
    <li class="self-end">
      <a href="https://github.com/mikeesto">GitHub</a>
    </li>
  </ul>
</nav>

<style>
  a[href^="https://github.com"]::after
  {
    content: "┓";
    font-size: 0.6em;
    position: absolute;
    margin-top: calc(1rem - 1.7em);
    line-height: 1em;
  }
</style>

<script type="module">
  import { annotate } from "https://unpkg.com/rough-notation?module";
  const listItems = document.querySelectorAll("nav ul li a");
  listItems.forEach((item) => {
    const annotation = annotate(item, {
      type: "underline",
      animate: false,
      color: "#e10000",
    });
    item.addEventListener("mouseenter", () => annotation.show());
    item.addEventListener("mouseleave", () => annotation.hide());
  });
</script>
