---
import { readdirSync, readFileSync } from "fs";
import matter from "gray-matter";
import { compareDesc, parse, format } from "date-fns";
import yaml from "js-yaml";

const posts = [];
const files = readdirSync("src/pages/posts");

for (const file of files) {
  const data = readFileSync(`src/pages/posts/${file}`, "utf8");
  const frontmatter = matter(data, {
    engines: {
      yaml: (s) => yaml.load(s, { schema: yaml.JSON_SCHEMA }),
    },
  });

  // Exclude drafts
  if (frontmatter.data.draft) {
    continue;
  }

  // Parse frontmatter
  const slug = file.split(".")[0];
  const parsedDate = parse(frontmatter.data.date, "dd-MM-yyyy", new Date());
  const formattedDate = format(parsedDate, "PPP");

  posts.push({ ...frontmatter.data, slug, formattedDate });
}

posts.sort((post1, post2) =>
  compareDesc(
    parse(post1.date, "dd-MM-yyyy", new Date()),
    parse(post2.date, "dd-MM-yyyy", new Date())
  )
);
---

<ul>
  {posts.map((post) => (
    <li>
      <a href={`/posts/${post.slug}`}>
        {post.title} ({post.formattedDate})
      </a>
    </li>
  ))}
</ul>

<style>
  ul {
    list-style: none;
    padding-left: 20px;
  }

  ul li::before {
    content: "\25AA"; /* Unicode for a square */
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  a {
    color: #80b4e3;
    text-decoration: none;
    font-weight: 500;
  }

  a:hover {
    border-bottom: 1px dotted #80b4e3;
  }
</style>
