---
import ListProjects from "./ListProjects.astro";
const { projects, year, collapse } = Astro.props;
---

{collapse? <details><summary><h2 class="inline">{year}</h2></summary><section>
  <ListProjects projects={projects}/>
</section></details> : <h2>{year}</h2>
<section>
  <ListProjects projects={projects}/>
</section>}

<style>
  summary::marker {
    color: var(--text-color);
    font-size: 1.2em;
  }

  section {
    background-color: var(--projects-bg);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: var(--projects-border);
  }

  h2 {
    color: var(--text-color);
    font-weight: 500;
  }

  .inline {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
  }
</style>
