---
import Base from "../layouts/Base.astro";
const { frontmatter } = Astro.props;
import { parse, format } from "date-fns";
import "@fontsource/fira-code";

const parseDate = parse(frontmatter.date, "dd-MM-yyyy", new Date());
const formatDate = format(parseDate, "PPP");
---

<Base title={frontmatter.title} codeStyles={true}>
  <a class="home" href="/">← Home</a>
  <article class="post">
    <h1>{frontmatter.title}</h1>
    <h2 class="date">{formatDate}</h2>
    <slot />
  </article>
</Base>

<style>
  .home {
    cursor: pointer;
    margin-bottom: 15px;
    background-color: #bfe3df;
    text-decoration: none;
    color: black;
    display: inline-block;
    border-radius: 3px;
    padding: 5px 10px;
  }

  .home:hover {
    border: 0;
  }

  h1 {
    color: white;
  }

  .date {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    color: var(--offwhite);
  }
</style><style is:global>
  /* Used to style slot */

  .post p {
    font-weight: 500;
    margin: 10px 0;
    color: var(--offwhite);
  }

  .post a {
    color: var(--post-link);
    text-decoration: none;
  }

  .post a:hover {
    border-bottom: 1px dotted var(--post-link);
  }

  .post .astro-code {
    margin-top: 20px;
    padding: 10px;
  }

  .post code {
    font-family: "Fira Code", monospace;
    font-size: 15px;
  }
</style>
