---
import Base from "../layouts/Base.astro";
const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title} codeStyles={true}>
  <a id="back" href="/">← Home</a>
  <h1>{frontmatter.title}</h1>
  <h2 id="date">{frontmatter.date}</h2>
  <slot />
</Base>

<style>
  #back {
    cursor: pointer;
    margin-bottom: 15px;
    padding: 4px 6px;
    background-color: #efefef;
    border-width: 2px;
    border-color: #767676;
    border-style: outset;
    text-decoration: none;
    color: black;
    display: inline-block;
  }

  h1,
  h2 {
    color: white;
  }

  #date {
    margin-bottom: 15px;
  }
</style><style is:global>
  /* Used to style slot */
  p {
    font-weight: 500;
    margin: 10px 0;
    color: #dbdfdf;
  }

  a {
    color: #6eb8ff;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 1px dotted var(--posts-link);
  }

  .astro-code {
    margin-top: 20px;
    padding: 10px;
    font-family: monospace;
    font-size: 16px;
  }
</style>
